@font-face {
  font-family: WorkSans;
  src: url('../fonts/WorkSans-Regular.ttf');
}
@font-face {
  font-family: WorkSansB;
  src: url('../fonts/WorkSans-Bold.ttf');
}
@font-face {
  font-family: WorkSansBl;
  src: url('../fonts/WorkSans-Black.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-appearance: none;
}
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: WorkSans;
  font-size: 14px;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes goup {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
@keyframes goup {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 300vh;
  z-index: 9999;
  background: #000;
  -webkit-animation: goup 1.2s 1 ease-in-out forwards;
          animation: goup 1.2s 1 ease-in-out forwards;
}
.preloader .w {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
.preloader .w:last-child {
  height: 10%;
}
.preloader .w .logo {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  width: 100%;
  position: absolute;
}
.preloader .b {
  width: 100%;
  height: 10.3%;
  background: #000;
}
.site-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 15px;
  position: relative;
}
.site-wrapper .scroll-down-box {
  position: absolute;
  top: 85vh;
  left: 0;
  right: 0;
  height: 15vh;
  cursor: url(../img/rectangle-3.svg), pointer;
}
.site-wrapper header {
  width: 200px;
  min-height: 100vh;
  position: relative;
  margin-right: 10px;
}
.site-wrapper header .holder {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
.site-wrapper header a.logo {
  display: block;
  width: 191px;
}
.site-wrapper header a.logo img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.site-wrapper header a.logo span {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
.site-wrapper header nav {
  margin-top: 108px;
}
.site-wrapper header nav > ul > li {
  margin-bottom: 14px;
}
.site-wrapper header nav > ul > li > ul.sub {
  margin-top: 14px;
  padding-left: 13px;
}
.site-wrapper header nav > ul > li > ul.sub li {
  margin-bottom: 8px;
}
.site-wrapper header nav > ul > li > ul.sub li:last-child {
  margin-bottom: 0;
}
.site-wrapper header nav > ul > li > ul.sub li a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
}
.site-wrapper header nav > ul > li > ul.sub li a:hover {
  color: #282828;
}
.site-wrapper header nav > ul > li > ul.sub li a.active {
  color: #282828;
}
.site-wrapper header nav > ul > li > a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #828282;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
.site-wrapper header nav > ul > li > a.active {
  color: #282828;
  font-weight: bold;
  padding-left: 13px;
}
.site-wrapper header nav > ul > li > a.active:hover {
  padding-left: 13px;
}
.site-wrapper header nav > ul > li > a.active:hover:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.site-wrapper header nav > ul > li > a.active:before {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.site-wrapper header nav > ul > li > a:hover {
  padding-left: 10px;
}
.site-wrapper header nav > ul > li > a:hover:before {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.5;
}
.site-wrapper header nav > ul > li > a:before {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #282828;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.site-wrapper .content-wrapper {
  width: 100%;
  max-width: 847px;
}
section.portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
section.portfolio .desription-text {
  width: 100%;
  max-width: 390px;
}
section.portfolio .desription-text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
}
section.portfolio .item {
  width: 100%;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section.portfolio .item:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
section.portfolio .item .item_box {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 90vh;
  height: 90vh;
  max-height: 90vh;
}
section.portfolio .item .item_box .img {
  max-width: 100%;
  position: relative;
}
section.portfolio .item .item_box .img img {
  max-width: 100%;
  max-height: inherit;
  max-height: 70vh;
}
section.portfolio .item.first-item {
  max-width: 360px;
}
section.portfolio .item .descr {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 360px;
}
section.portfolio .item .descr:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #282828;
  margin-top: 10px;
}
section.portfolio .item .descr a {
  font-family: WorkSansB;
  line-height: 2.14;
  color: #282828;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.portfolio .item .descr a:hover {
  color: #828282;
}
section.portfolio .item .descr p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
}
section.publications {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
section.publications .desription-text {
  width: 100%;
  max-width: 390px;
}
section.publications .desription-text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
}
section.publications .item {
  width: 100%;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section.publications .item:nth-child(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
section.publications .item .item_box {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 60vh;
  height: 60vh;
  max-height: 60vh;
}
section.publications .item .item_box .img {
  max-width: 100%;
  position: relative;
}
section.publications .item .item_box .img img {
  max-width: 100%;
  max-height: inherit;
  max-height: 40vh;
}
section.publications .item .item_box .img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section.publications .item.first-item {
  max-width: 360px;
}
section.publications .item .descr {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 360px;
}
section.publications .item .descr:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #282828;
  margin-top: 10px;
}
section.publications .item .descr a {
  font-family: WorkSansB;
  line-height: 2.14;
  color: #282828;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.publications .item .descr a:hover {
  color: #828282;
}
section.publications .item .descr p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
}
section.main-page {
  width: 100%;
  padding: 0 15px;
  padding-top: 90px;
}
section.main-page .wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
section.main-page .wrapper .img {
  width: 100%;
  margin-bottom: 36px;
}
section.main-page .wrapper .img img {
  width: 100%;
}
section.main-page .wrapper img.logo {
  width: 100%;
  margin-bottom: 17px;
}
section.main-page .wrapper p {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #828282;
  margin-bottom: 36px;
}
section.main-page .wrapper .btns {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.main-page .wrapper .btns > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 38px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #282828;
  border: solid 1px #282828;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.main-page .wrapper .btns > a:hover {
  border-color: #828282;
  color: #828282;
}
section.bio {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
}
section.bio .img {
  width: 100%;
  max-width: 360px;
}
section.bio .img img {
  width: 100%;
}
section.bio .text {
  width: 100%;
  max-width: 390px;
  padding-top: 170px;
}
section.bio .text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
  margin-bottom: 30px;
}
section.contacts {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
}
section.contacts .docs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 360px;
}
section.contacts .docs .doc {
  width: 164px;
}
section.contacts .docs .doc .img {
  width: 100%;
  background: #cecece;
  height: 217px;
  margin-bottom: 22px;
}
section.contacts .docs .doc .img img {
  width: 100%;
}
section.contacts .docs .doc p {
  text-transform: uppercase;
  font-weight: 600;
  color: #282828;
  font-family: WorkSansB;
  margin-bottom: 5px;
}
section.contacts .docs .doc a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #828282;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
section.contacts .docs .doc a:hover {
  color: #0079d4;
}
section.contacts .text {
  width: 100%;
  max-width: 390px;
  padding-top: 170px;
}
section.contacts .text .link-list {
  margin-top: 40px;
}
section.contacts .text p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #828282;
  margin-bottom: 20px;
}
section.contacts .text p a {
  font-weight: 500;
  color: #282828;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
section.contacts .text p a:hover {
  color: #0079d4;
}
.fancybox-is-open .fancybox-bg {
  background: #ffffff;
}
.fancybox-caption__body {
  font-family: WorkSansB;
  line-height: 2.14;
  color: #282828;
  text-transform: uppercase;
}
.fancybox-caption {
  background: none;
}
.fancybox-button {
  background: none;
  color: #282828;
}
.fancybox-button:hover {
  color: #282828;
}
.fancybox-toolbar {
  top: 50px;
  right: 50px;
}
.fancybox-navigation .fancybox-button--arrow_right {
  right: 5%;
}
.fancybox-navigation .fancybox-button--arrow_left {
  left: 5%;
}
